.heading{
color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
	    border-bottom: 1px solid rgba(97, 97, 97, 0.25);
}
body {background: #EAEAEA;}
.user-details {position: relative; padding: 0;    width: 88%;}
.user-details .user-image {position: relative;  z-index: 1; width: 88%; text-align: center;}
 .user-image img { clear: both; margin: auto; position: relative;height: 110px;}

.user-details .user-info-block {width: 88%; position: absolute; top: 55px; background: rgb(255, 255, 255); z-index: 0; padding-top: 35px; height: 600px;}
 .user-info-block .user-heading {width: 100%; text-align: center; margin: 10px 0 0;}
 .user-info-block .navigation {float: left; width: 100%; margin: 0; padding: 0; list-style: none; border-bottom: 1px solid #2ecc71; border-top: 1px solid #2ecc71;}
  .navigation li {float: left; margin: 0; padding: 0;}
   .navigation li a {padding: 20px 80px; float: left;}
   .navigation li.active a {background: #2ecc71; color: #fff;}
 .user-info-block .user-body {float: left; padding: 5%;}
  .user-body .tab-content > div {float: left; width: 100%;}
  .user-body .tab-content h4 {width: 100%; margin: 10px 0; color: #333;}
  .ca-profile{
	  padding-top: 100px;
	      padding-left: 150px;
  }