/*
Typography
=========================== */
html,body {
    width:100%;
    height: auto;
    margin:0;
    padding:0;
    overflow-x: hidden;
}

body {
   font-family: 'Lato', sans-serif;
    position: relative;
    font-size:14px;
    line-height:24px;
    color:#6f6f6f;
}

a{
    color: #6f6f6f;
}

a,
a:active,
a:focus,
a:hover{
    outline:none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover{
    text-decoration:underline;
}

h1, h2, h3, h4, h5, h6{
    color:#3f3f3f;
    margin:0 0 15px 0;
    letter-spacing: 1px;
    font-weight: bold;
}

h1{
    font-size:48px;
    line-height:52px;
}

h2{
    font-size:36px;
    line-height:48px;
}

h3{
    font-size:30px;
    line-height:36px;
}

h4{
    font-size:24px;
    line-height:30px;
}

h5{
    font-size:18px;
    line-height:24px;
}

h6{
    font-size:14px;
    line-height:18px;
}

p{
    margin-bottom:20px;
}

.section {
    padding: 70px 0;
    position: relative;
    margin-top: 80px;
}

/*
Navbar Adjusment
=========================== */
/* Navbar Atribute ------*/
.attr-nav > ul > li > a{
    padding: 28px 15px;
}

ul.cart-list > li.total > .btn{
    border-bottom: solid 1px #cfcfcf !important;
    color: #fff !important;
    padding: 10px 15px;
}

@media (min-width: 1024px) {
    /* Navbar General ------*/
    nav.navbar ul.nav > li > a{
        padding: 30px 15px;
        font-weight: 600;
    }
    
    nav.navbar .navbar-brand{
        margin-top: 0;
    }
    
    nav.navbar .navbar-brand img.logo{
        width: 50px;
    }

    nav.navbar .navbar-brand{
        margin-top: 0;
    }
    
    nav.navbar .navbar-brand img.logo{
        width: 50px;
    }
    
    nav.navbar li.dropdown ul.dropdown-menu{
        border-top: solid 5px;
    }
    
    /* Navbar Center ------*/
    nav.navbar-center .navbar-brand{
        margin: 0 !important;
    }
    
    /* Navbar Brand Top ------*/
    nav.navbar-brand-top .navbar-brand{
        margin: 10px !important;
    }
    
    /* Navbar Full ------*/
    nav.navbar-full .navbar-brand{
        position: relative;
        top: -15px;
    }
    
    /* Navbar Sidebar ------*/
    nav.navbar-sidebar ul.nav,
    nav.navbar-sidebar .navbar-brand{
        margin-bottom: 50px;
    }
    
    nav.navbar-sidebar ul.nav > li > a{
        padding: 10px 15px;
        font-weight: bold;
    }
    
    /* Navbar Transparent & Fixed ------*/
    nav.navbar.bootsnav.navbar-transparent.white{
        background-color: rgba(255,255,255,0.3);
        border-bottom: solid 1px #bbb;
    }
    
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark,
    nav.navbar.bootsnav.navbar-transparent.dark{
        background-color: rgba(0,0,0,0.3);
        border-bottom: solid 1px #555;
    }
    
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav{
        border-left: solid 1px #bbb;
    }
    
    nav.navbar.navbar-inverse.bootsnav.navbar-transparent.dark .attr-nav,
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav{
        border-left: solid 1px #555;
    }
    
    nav.navbar.bootsnav.no-background.white .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.white .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.white ul.nav > li > a,
    nav.navbar.bootsnav.no-background.white ul.nav > li > a{
        color: #fff;
    }
    
    nav.navbar.bootsnav.navbar-transparent.dark .attr-nav > ul > li > a,
    nav.navbar.bootsnav.navbar-transparent.dark ul.nav > li > a{
        color: #eee;
    }
}

@media (max-width: 992px) {
    /* Navbar General ------*/
    nav.navbar .navbar-brand{
        margin-top: 0;
        position: relative;
        top: -2px;
    }
    
    nav.navbar .navbar-brand img.logo{
        width: 30px;
    }
    
    .attr-nav > ul > li > a{
        padding: 16px 15px 15px;
    }
    
    /* Navbar Mobile slide ------*/
    nav.navbar.navbar-mobile ul.nav > li > a{
        padding: 15px 15px;
    }
    
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu > li > a{
        padding-right: 15px !important;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
    }
    
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu .title{
        padding-right: 30px !important;
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    
    nav.navbar.navbar-mobile ul.nav ul.dropdown-menu .col-menu ul.menu-col li a{
        padding-top: 13px !important;
        padding-bottom: 13px !important;
    }
    
    /* Navbar Full ------*/
     nav.navbar-full .navbar-brand{
        top: 0;
        padding-top: 10px;
    }
}

/* Navbar Inverse
=================================*/
nav.navbar.navbar-inverse{
    background-color: #222;
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list > li.total > .btn{
    border-bottom: solid 1px #222 !important;
}

nav.navbar.navbar-inverse ul.cart-list > li.total .pull-right{
    color: #fff;
}

nav.navbar.navbar-inverse.megamenu ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
nav.navbar.navbar-inverse ul.nav > li > a{
    color: #eee;
}

nav.navbar.navbar-inverse ul.nav > li.dropdown > a{
    background-color: #222;
}

nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a{
    color: #999;
}

nav.navbar.navbar-inverse ul.nav .dropdown-menu h1,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h2,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h3,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h4,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h5,
nav.navbar.navbar-inverse ul.nav .dropdown-menu h6{
    color: #fff;
}

nav.navbar.navbar-inverse .form-control{
    background-color: #333;
    border-color: #303030;
    color: #fff;
}

nav.navbar.navbar-inverse .attr-nav > ul > li > a{
    color: #eee;
}

nav.navbar.navbar-inverse .attr-nav > ul > li.dropdown ul.dropdown-menu{
    background-color: #222;
    border-left: solid 1px #303030;
    border-bottom: solid 1px #303030;
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list > li{
    border-bottom: solid 1px #303030;
    color: #eee;
}

nav.navbar.navbar-inverse ul.cart-list > li img{
    border: solid 1px #303030;
}

nav.navbar.navbar-inverse ul.cart-list > li.total{
    background-color: #333;
}

nav.navbar.navbar-inverse .share ul > li > a{
    background-color: #555;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu{
    border-right: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a{
    border-bottom: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-content{
    border-left: solid 1px #303030;
}

nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:hover,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li > a:focus,
nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul > li.active > a{
    background-color: #333 !important;
}

nav.navbar-inverse.navbar-full ul.nav > li > a{
    border:none;
}

nav.navbar-inverse.navbar-full .navbar-collapse .wrap-full-menu{
    background-color: #222;
}

nav.navbar-inverse.navbar-full .navbar-toggle{
    background-color: #222 !important;
    color: #6f6f6f;
}

@media (min-width: 1024px) {
    nav.navbar.navbar-inverse ul.nav .dropdown-menu{
        background-color: #222 !important;
        border-left: solid 1px #303030 !important;
        border-bottom: solid 1px #303030 !important;
        border-right: solid 1px #303030 !important;
    }

    nav.navbar.navbar-inverse li.dropdown ul.dropdown-menu > li > a{
        border-bottom: solid 1px #303030;
    }
    
    nav.navbar.navbar-inverse ul.dropdown-menu.megamenu-content .col-menu{
        border-left: solid 1px #303030;
        border-right: solid 1px #303030;
    }
    
    nav.navbar.navbar-inverse.navbar-transparent.dark{
        background-color: rgba(0,0,0,0.3);
        border-bottom: solid 1px #999;
    }
    
    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav{
        border-left: solid 1px #999;
    }
    
    nav.navbar.navbar-inverse.no-background.white .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.navbar-transparent.dark .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.navbar-transparent.dark ul.nav > li > a,
    nav.navbar.navbar-inverse.no-background.white ul.nav > li > a{
        color: #fff;
    }
    
    nav.navbar.navbar-inverse.no-background.dark .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.no-background.dark .attr-nav > ul > li > a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav > li > a,
    nav.navbar.navbar-inverse.no-background.dark ul.nav > li > a{
        color: #3f3f3f;
    }
}
@media (max-width: 992px)  {
    nav.navbar.navbar-inverse .navbar-toggle{
        color: #eee;
        background-color: #222 !important;
    }
    
    nav.navbar.navbar-inverse .navbar-nav > li > a{
        border-top: solid 1px #303030;
        border-bottom: solid 1px #303030;
    }
    
    nav.navbar.navbar-inverse ul.nav li.dropdown ul.dropdown-menu  > li > a{
        color: #999;
        border-bottom: solid 1px #303030;
    }
    
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu .title{
        border-bottom: solid 1px #303030;
        color: #eee;
    }
    
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu ul > li > a{
        border-bottom: solid 1px #303030;
        color: #999 !important;
    }
    
    nav.navbar.navbar-inverse .dropdown .megamenu-content .col-menu.on:last-child .title{
        border-bottom: solid 1px #303030;
    }
    
    nav.navbar.navbar-inverse .dropdown-tabs .tab-menu > ul{
        border-top: solid 1px #303030;
    }
    
    nav.navbar.navbar-inverse.navbar-mobile .navbar-collapse{
        background-color: #222;
    }
}

@media (max-width: 767px)  {
    nav.navbar.navbar-inverse.navbar-mobile ul.nav{
        border-top: solid 1px #222;
    }
}

/*
Color
=========================== */
nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
.side .widget ul.link li a:hover,
.side .widget ul.link li a:focus,
.check-list li:before,
ul.cart-list > li > h6 > a,
.attr-nav > ul > li > a:hover,
.attr-nav > ul > li > a:focus,
nav.navbar-sidebar ul.nav li.dropdown.on > a,
nav.navbar-sidebar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar-sidebar ul.nav li.dropdown ul.dropdown-menu li a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar.navbar-inverse ul.nav li.dropdown.on > a,
nav.navbar-sidebar ul.nav li.dropdown.on ul.dropdown-menu li.dropdown.on > a,
nav.navbar .dropdown .megamenu-content .col-menu.on .title,
nav.navbar ul.nav > li > a:hover,
nav.navbar ul.nav > li.active > a:hover,
nav.navbar ul.nav li.active > a,
nav.navbar li.dropdown ul.dropdown-menu > li a:hover{
   color: #2ca7e0;
}

nav.navbar.navbar-transparent ul.nav > li > a:hover,
nav.navbar.no-background ul.nav > li > a:hover,
nav.navbar ul.nav li.scroll.active > a,
nav.navbar.navbar-dark ul.nav li.dropdown ul.dropdown-menu  > li > a:hover,
nav.navbar ul.nav li.dropdown.on > a,
nav.navbar-dark ul.nav li.dropdown.on > a{
    color: #f43438 !important;
}

@media(max-width:920px){
    nav.navbar .dropdown .megamenu-content .col-menu ul > li > a:hover,
    nav.navbar.navbar-dark .dropdown .megamenu-content .col-menu .title:hover{
        color: #f43438 !important;
    }
}

/*
Border
=========================== */
ul.cart-list > li.total > .btn{
    border-color: #f43438;
}

nav.navbar li.dropdown ul.dropdown-menu{
        border-top-color: #2ca7e0 !important;
}

/*
Background
=========================== */
ul.cart-list > li.total > .btn,
.attr-nav > ul > li > a span.badge,
nav.navbar .share ul > li > a:hover,
nav.navbar .share ul > li > a:focus{
    background-color: #f43438;
}

ul.cart-list > li.total > .btn:hover,
ul.cart-list > li.total > .btn:focus{
    background-color: #dc3236 !important;
}















.landing-page-bg {
			background: url(../images/bg-landing.jpg) no-repeat;
			background-size: cover;
			background-position: top center;
			width: 100%;
			padding-bottom: 60px;
			padding-top: 60px;
			    margin-bottom: 30px;
				       height: 550px;
			} 
			   
			.landing-page h1 {
    font-size: 40px;
    color: #fff;
    margin: 50px 0 8px 0;
    font-weight: 700;
    letter-spacing: -1px;
}
.landing-page-bg p {
    color: #fff !important;
}
.landing-page-bg h5 {
    font-size: 17px !important;
    font-weight: 600 !important;
    text-shadow: 0px 0px 0px #fff;
}
.para-content h2 {
    font-size: 22px;
    font-weight: bold;
    color: #313131;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
}
			 
			.servicelandingHdgPara1 {
			margin-left: 0!important;
			font-size: 18px;
			font-family: 'Open Sans',sans-serif;
			font-weight: 400;
			line-height: 28px;
			padding-bottom: 14px;
			}
			.landing-page {
			display: inline-block;
			width: 100%;
			margin-top: 15px;
			}
			.landing-page ul {
			margin: 0;
			padding: 0;
			}
			 
			 
			.landing-page ul li h5 {
			font-family: 'Open Sans',sans-serif;
			font-size: 16px;
			font-weight: 700;
			margin-top: 24px;
			color: #fff;
			}
			.landing-page ul li p {
			font-family: 'Open Sans',sans-serif;
			font-size: 15px;
			font-weight: 500;
			color: #fff;
			line-height: 18px;
			margin-left: 46px;
			}
			 
			#one {
			 
			height: auto;
			 
			max-width: 410px;
			 
			    float: right;
			 
			}
			.servicelandingForm, .servicelandingForm_v4 {
			background: #fff;
			padding: 24px;
			margin-top: 100px;
			}
			.servicelandingForm {
			background: #fff;
			padding: 24px;
			margin-top: 40px;
			box-shadow: 0 0 26px #000;
			margin-bottom: 45px;
			}
			.inputStyles {
			padding: 10px 16px;
			font-size: 14px;
			color: #333;
			line-height: 36px;
			border: 1px solid #d6d6d6;
			background: #f2f2f2;
			margin-bottom: 20px!important;
			height: 50px;
			border-radius: 0;
			box-shadow: 0 0 0 #fff;
			}
			.servicelandingForm .form-control {
			    height: calc(2.25rem + 9px) !important;
			border: none;
			display: block;
			width: 100%;
			padding: 5px 12px;
			font-size: 14px;
			color: #555;
			background-color: #fff;
			background-image: none;
			border-bottom: 1px solid #ccc;
			border-radius: 0;
			-webkit-box-shadow: inset 0 1px 1px transparent;
			box-shadow: inset 0 1px 1px transparent;
			-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			}
			.landing-page .defaultBtn {
			background: #f9a32a;
			padding: 13px 10px;
			color: #333;
			font-size: 16px;
			border: 0;
			border-radius: 0;
			width: 100%;
			}
			 
			.landing-page  h3{
			font-size: 28px;
			color: #333;
			letter-spacing: -1px;
			font-weight: 800;
			font-family: Montserrat,Arial;
			}
			.landing-page hr {
			border: 0;
			max-width: 100px;
			margin: 0 auto;
			margin-bottom: 1em;
			}
			.landing-page p {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .01em;
    line-height: 25px;
    margin-bottom: 52px;
}
			.advantages1 hr, .costandDoc1 hr, .docRequire1 hr, .inclusions1 hr, .process1 hr, .servicesTable1 hr, .whyVakil1 hr {
			border: 0;
			max-width: 100px;
			margin: 0 auto;
			margin-bottom: 2em;
			}
			.third-section {
			overflow: hidden;
			margin-bottom: 1.5em;
			}
			.third-section .desc1 {
			padding: 0;
			overflow: hidden;
			}
			.nopadding {
			padding: 0;
			}
			.nopadding {
			padding: 0!important;
			}
			.landing-page h4 {
    margin-bottom: 2px;
    font-size: 16px;
    color: #000;
}
		 
		 
			 
.para-content p {
    line-height: 30px;
    margin: 0px 0 32px 0;
    color: #666;
    font-size: 16px;
}
			.height-20 {
    height: 20px;
}			.height-10 {
    height: 10px;
}
.landing-page-bg ul li img {
    width: 25px;
    margin-right: 8px;
}
.landing-page-bg ul li {
        font-size: 18px;
    line-height: 24px;
    list-style: none;
    margin-bottom: 40px;
    color: #fff;
    float: left;
    width: 50%;
}
.third-section {
    background: #f3f3f3;
    padding: 20px 0px 20px 0px;
}
section.third-section h2 {
    font-size: 22px;
    font-weight: bold;
    color: #313131;
    margin-bottom: 0;
    margin-bottom: 15px;
}
 
.third-section li img {
    width: 22px;
    margin-right: 10px;
}
.third-section li {
    list-style-type: none;
    margin-bottom: 20px;
    font-size: 16px;
    color: #3c3c3c;
}
.third-section ul {
    padding-left: 0;
}
/******************** Pricing*************/
 

.pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    background: #fff;
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
    height: 246px;
}
.pricing.py-5 h2 {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
    margin-bottom: 15px;
}










.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
    font-size: 16px;
    margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}
section.pricing {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    display: -webkit-box;
    padding: 30px 0px;
}




























/* Hover Effects on Card */

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .pricing .card:hover .btn {
    opacity: 1;
  }
}
/********************* Pricing End**********/




.fifth-section {
    padding: 30px 0px;
    background-image: url(../images/corner-form.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 17%;
}
.fifth-section li span {
    background: #2ca7e0;
    text-align: center;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    float: left;
    color: #fff;
    margin-right: 10px;
}
.fifth-section li h6 {
    margin-bottom: 6px;
    font-size: 16px;
}
.fifth-section li p {
   padding-left: 48px;
}
.fifth-section li {
    list-style-type: none;
    margin-bottom: 30px;
	width: 85%;
}
.fifth-section ul {
    padding-left: 0;
}
.fifth-section h2 {
    color: #090909;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
    margin-bottom: 15px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: -webkit-box;
}
.bg-grey {
    background: #fafafa;
    padding: 30px 0px;
	    /*background-image: url(../images/faq.jpg);*/
}
.faq h2
{
	    color: #090909;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
    margin-bottom: 15px;
}
.faq h4 {
    font-size: 16px;
    line-height: 22px;
}
.faq h4 a {
    font-size: 16px;
    font-family: lato;
    color: #3f3f3f;
}
.faq .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #eaeaea;
}
.faq h4 a:hover {
    text-decoration: none;
}
.faq .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border: 1px solid #eaeaea;
    border-top: none;
}
.subscribe {
    padding: 60px 0px;
    background: linear-gradient(to right, #0062E6, #33AEFF);
    padding-bottom: 20px;
}
.subscribe h2 {
    font-size: 21px;
    margin-bottom: -5px;
    color: #e9e9e9;
}
.subscribe span {
    font-size: 30px;
    color: #fff;
    font-weight: 800;
}
.subscribe button {
    padding: 15px 15px;
    border-radius: 33px;
    float: right;
    position: relative;
    left: -97px;
    width: 29%;
    top: -40px;
    background: #0e61a5;
    border: none;
    color: #fff;
}
.subscribe input {
    padding: 15px 15px;
    border-radius: 23px;
    border: none;
    width: 82%;
	position: relative;
    top: 14px;
}




.footer.black-bg {
    background: #1a1a1a;
}

.black-bg {
    background: #323232;
}
.page-section-pt {
    padding: 80px 0 0;
}
.footer h6 {
    font-size: 14px;
}
.mb-30 {
    margin-bottom: 30px !important;
}
.mt-10 {
    margin-top: 10px !important;
}
.text-white {
    color: #fff;
}
.text-white {
    color: #fff!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.footer-useful-link.footer-hedding ul {
    margin-top: -6px;
	padding-left: 0;
}
.footer-useful-link ul li {
    list-style: none;
    margin-bottom: 12px;
}
.footer-useful-link ul li a {
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    vertical-align: top;
    display: block;
    line-height: 26px;
}
.addresss-info li {
    font-size: 14px;
    margin-bottom: 15px;
    color: rgba(255,255,255,0.5);
    list-style: none;
}
.addresss-info i {
    color: rgba(255,255,255,0.5);
    padding-right: 5px;
    float: left;
    display: table-cell;
    width: 30px;
    line-height: 23px;
    font-size: 14px;
}
.footer.black-bg p {
    color: rgba(255,255,255,0.5);
}

.addresss-info p {
    display: table;
    color: rgba(255,255,255,0.5);
    margin-bottom: 0px;
}
.footer p {
    font-size: 14px;
}
.footer-widget {
    padding: 20px 0;
    border-top: 1px solid #262626;
}
.footer.black-bg p {
    color: rgba(255,255,255,0.5);
}
.footer-widget p {
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    letter-spacing: 0.5px;
}
 .text-md-right {
    text-align: right!important;
}
.social-icons li {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0 8px 8px 0;
}
.footer.black-bg .social-icons li a {
    color: rgba(255,255,255,0.5);
}

.social-icons li a {
    display: block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    margin: 0;
    border-radius: 4px;
    border: 0;
    background: transparent;
    color: #333;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
ul.addresss-info {
    padding-left: 0;
}

.navbar-header img {
    width: 100% !important;
}
.addresss-info li a
{
	    font-size: 14px;
    margin-bottom: 15px;
    color: rgba(255,255,255,0.5);
    list-style: none;
}
.what-will-get img {
    width: 47%;
    float: right;
}
.plr-flr img {
    width: 74%;
    float: left;
    position: relative;
    top: 34px;
}
.plr .fifth-section li span {
     padding: 0px 8px 1px 8px;
 }
.plr .fifth-section h2 {
    color: #090909;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
    margin-bottom: -6px;
}
 
.plr .fifth-section p {
    font-size: 17px;
    margin-bottom: 25px;
}
.plr .fifth-section {
    padding: 0px 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 17%;
    padding-bottom: 20px;
}
.blue-strip p {
    color: #fff;
    line-height: 35px;
    font-size: 18px;
}
.panel-body ul {
    margin-left: 0;
    padding-left: 20px;
}
.panel-body ul {
    margin-left: 0;
    padding-left: 20px;
    margin-top: -15px;
}


































@media (max-width: 767px)  {
nav .container {
    width: 100%;
}
nav.navbar.bootsnav .navbar-toggle {
     margin-top: 14px;
}	
nav.navbar .navbar-brand {
     top: -5px;
}	
	.landing-page-bg {
     height: auto;
	 background: none;
}
	
.landing-page {
    display: inline-block;
    width: 100%;
    margin-top: 0;
    background: url(../images/bg-landing.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    width: 100%;
       padding-bottom: 6px;
    padding-top: 0;
    margin-bottom: 30px;
}
.landing-page h1 {
    font-size: 30px;
        margin: 15px 0 -2px 0;
 }	
.landing-page-bg ul li {
    font-size: 16px;
        margin-bottom: 16px;
     width: 100%;
}	
.landing-page p {
     margin-bottom: 24px;
}	
.para-content h2 {
    font-size: 22px;
     margin-bottom: 10px;
     line-height: 26px;
}	
section.third-section h2 {
   font-size: 22px;
     margin-bottom: 10px;
     line-height: 26px;
}	
.third-section li img {
    width: 18px;
    margin-right: 10px;
}	
.third-section li {
     text-indent: -28px;
	 margin-left: 28px;
}	
.pricing.py-5 h2 {
   font-size: 22px;
     margin-bottom: 10px;
     line-height: 26px;
}
.pricing.py-5 .col-lg-3 {
    margin-bottom: 20px;
}	
.fifth-section h2 {
    font-size: 22px;
     margin-bottom: 10px;
     line-height: 26px;
}	
.fifth-section li span {
      padding: 3px 11px 3px 11px;
 }	
.fifth-section li p {
    padding-left: 40px;
}	
.fifth-section li {
     width: 100%;
}	
.fifth-section {
    padding: 30px 0px;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 60%;
}
.subscribe {
    padding: 15px 0px;
    padding-bottom: 1px;
}	
.subscribe input {
     width: 100%;
 }	
.subscribe button {
     left: 3px;
 }	
.subscribe h2 {
    
    text-align: center;
}	
.subscribe span {
    text-align: center;
	display: block;
	margin-bottom: 24px;
}	
.page-section-pt {
    padding: 20px 0 0;
}	
.text-md-right {
    text-align: left!important;
}	
.social-icons.color-hover.mt-10 ul {
    padding-left: 0;
}
.col-lg-6.col-md-6.text-left.text-md-right {
    padding-left: 0;
}
section.bg-grey.faq .col-md-6 {
    padding: 0;
}
.what-will-get img {
     display: none;
}
.plr .fifth-section p {
    font-size: 16px;
     margin-top: 11px;
}

	
}











