.swiper-button-next,.swiper-button-prev{background-repeat:no-repeat;background-position:center}
.slider-content h2,.slider-content h3{color:#fff;line-height:1.4;font-weight:600}
.main-image-section,.swiper-wrapper{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox}
.main-image-content,.swiper-container{overflow:hidden;list-style:none;z-index:1}
.swiper-container{width:100%;height:43%}
.swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}
.swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}
.swiper-pagination-bullet-active{background:#fff}
.slider-content{-webkit-animation-delay:.5s;animation-delay:.5s}
.slider-content h2{font-size:50px}
@media screen and (max-width:767px){
	.swiper-container{height:auto}
	.slider-content{padding:70px 30px}
	.slider-content h2{font-size:25px;color:#fff;line-height:1.4;font-weight:600}
	.slider-content p{width:auto}
}
.slider-content h3{font-size:45px}
.slider-content p{font-size:18px;color:#232323;line-height:1.9;font-weight:400;max-width:100%;margin-top:-3px;word-wrap:break-word;font-family:Conv_GothamBook;font-family:GT Walsheim Web,Arial,sans-serif;margin-bottom:20px}
.main-image-section{width:100%;position:relative;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;padding:90px 0;min-height:85%;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.main-image-content{margin:0 auto;position:relative;padding:0}
.main-image-content h2{font-size:50px;color:#fff;line-height:1.4;font-weight:600}@media screen and (max-width:767px)
{.main-image-content h2{font-size:25px;color:#fff;line-height:1.4;font-weight:600}
.main-image-content p{width:auto}}
.main-image-content h3{font-size:45px;color:#fff;line-height:1.4;font-weight:600}
.main-image-content p{font-size:15px;color:rgba(255,255,255,.7);line-height:1.9;font-weight:400;max-width:100%;margin-top:10px;word-wrap:break-word}
/* look custom css file*/
/*select.country,select.services{box-shadow:none!important;background-color:rgba(255,255,255,.95);height:63px;line-height:initial;padding:13px 15px 12px 60px;font-size:16px;color:#a1a1a1}
select.country{border:none;width:100%;border-radius:25px 0 0 25px}
select.services{border:none;border-radius:0;width:100%}*/
.swiper-slide,.swiper-wrapper{width:100%;height:100%;position:relative}
.swiper-container{margin:0 auto;position:relative;padding:0}
.swiper-wrapper{z-index:1;display:flex;-webkit-transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box}
.swiper-slide{text-align:center;font-size:18px;background:center;background-size:cover;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;-webkit-flex-shrink:0;-ms-flex-negative:0;flex-shrink:0;-webkit-transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform,-webkit-transform}