.swiper-slide, .swiper-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

div.country-box {
    width: 100%;
    border: none;
    border-radius: 25px 0 0 25px;
}

select#country {
    width: 70%;
    border: none;
    padding: 6px 0;
}

ul#select2-selUser-results {
    color: #a1a1a1;
}

div.service-box, div.country-box {
    box-shadow: none!important;
    background-color: rgba(255,255,255,.95);
    height: 63px;
    line-height: initial;
    padding: 13px 15px 12px 60px;
    font-size: 16px;
    color: #a1a1a1;
}

span.select2.select2-container {

    width: 100%;
    padding: 5px 0;
}

span.select2-selection.select2-selection--single {

    border: none;
    color: #a1a1a1;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100%;
    color: #a1a1a1;
    line-height: 36px;
}


/*span.select2.select2-container.select2-container--default.select2-container--focus {

    box-shadow: none!important;
    background-color: rgba(255,255,255,.95);
    height: 63px;
    line-height: initial;
    padding: 13px 15px 12px 60px;
    font-size: 16px;
    color: #a1a1a1;

}*/


/*span.select2-selection.select2-selection--single {

    border: none;
    font-size: 16px;
    color: #a1a1a1;
    line-height: 35px;

}*/


.select2-container--default .select2-selection--single .select2-selection__arrow b {
    top : 100%;
}

/*
    Expert Search Page CSS start
*/

.error{
    color: red;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    position: absolute;
    left: 0;
    top: 45px;
}

.success {
    display: block;
    font-weight: 600;
    color: yellowgreen;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*select.country {
    position: absolute;
}*/
input#Mysearch {
    position: absolute;
    z-index: 99;
    left: 55px;
    border: 0;
    top: 15px;
}
div.expertBox, div.expert-search-filter {
    display: none;
}

#navbar {
  overflow: hidden;
  background-color: #073c5d;
  z-index: 999;
}

#navbar .filter-label {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 13px 15px;
  font-size: 12px;
  text-transform: uppercase;
}

/*#navbar .filter-label:hover {
  background-color: #ddd;
  color: black;
}*/

.agile_info .input-group {
    width: 45%;
    padding: 2px;
    float: left;
    margin-left: 20px;
}

#navbar .filter-label.active {
  background-color: #4CAF50;
  color: white;
}

.booking-section {
    background: #126992;
    position: static;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
/*    display: none;*/
}

.booking-section h4 {
    text-align: center;
    color: #fff;
    padding: 20px;
}

.myform textarea {
    min-height: 30px !important ;
}


.myform input {

    font-size: 15px;
    color: #000 !important;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 12px 10px 1px 7px;
    width: 93%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    font-family: GT Walsheim Web,Arial,sans-serif;
    text-align: left;
}

.myform .input-group {
    width: 45%;
    padding: 2px;
    float: left;
    margin-left: 20px;
}
.myform input::placeholder {
    color: #eee!important;
}

.myform.contact-form input:focus, .myform.contact-form textarea:focus {
    background: #ffffff85;
    border-color: #ececec;
}

.myform textarea {
    min-height: 30px !important;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 12px 10px 1px 7px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: transparent;
    font-family: GT Walsheim Web,Arial,sans-serif;
    text-align: left;
    border-bottom: 1px solid #b0b0b0;
    border-radius: 0;
}

.textar textarea::placeholder {
    color: #eee!important;
    font-weight: 100;
    padding-left: 15px;
    font-size: 10px;
}

.textar textarea {
    width: 45%;
    float: left;
    min-height: 30px;
    color: #fff!important;
}


.client-feild li {
    background: #ddd;
}

.filter-box {
    padding: 10px;
    float: left;
}

.filter-box select {
    vertical-align: middle;
    color: #a1a1a1;
    height: 25px;
    border: none;
    padding: 2px;
    border-radius: 4px;
}

.location-icon {
    padding: 8px 0;
    float: left;
}

.location-icon img {
    width: 25px;
    float: left;
    background: #ffff;
    border-radius: 50%;
    /* padding: 4px; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.service-select {
    padding: 15px 15px 0;
    float: left;
    width: 50%;
}

span i.fas.fa-comment-alt.fa {
    float: left;
    padding: 22px 0;
    border-bottom: 1px solid #b0b0b0;
}

.service-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100%;
    color: #eee;
    background: transparent !important;
    text-transform: capitalize;
    font-size: 15px;
    padding-bottom: 15px;
    border-bottom: 1px #b0b0b0 solid;
}

.service-select .select2-container .select2-selection--single {
    width: 100%;
    background: transparent !important;
}

.service-select .contact-form input:focus, .contact-form textarea:focus {
    background: transparent !important;
    color: #fff;
}

span.select2-dropdown.select2-dropdown--below {
    color: #a1a1a1;
}

.select2-container .select2-selection--single {
    height: 25px;
    width: 300px;
    user-select: none;
    -webkit-user-select: none;
}

span.select2.select2-container {
    padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 18px;
}

.filter-box .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 24px;
}

.filter-box .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 12px;
}

/* FLATPICKR CSS */
.flatpickr-wrapper{display:inline-block;position:relative}.flatpickr-wrapper input{cursor:pointer;position:relative;z-index:1}.flatpickr-calendar{font-size:13px;background-color:#fff;color:#333;border-radius:4px;position:absolute;top:100%;left:0;margin-top:3px;opacity:0;padding:3px;border:1px solid #ddd;max-height:0;z-index:0;overflow:hidden;-webkit-transition:opacity 550ms cubic-bezier(.075,.82,.165,1);transition:opacity 550ms cubic-bezier(.075,.82,.165,1);-webkit-transition-timing-function:cubic-bezier(.075,.82,.165,1);transition-timing-function:cubic-bezier(.075,.82,.165,1)}.open .flatpickr-calendar{max-height:286px;z-index:100;opacity:1}.flatpickr-months{color:#000;padding:2px;text-align:center;font-size:135%}.flatpickr-prev-month,.flatpickr-next-month{text-decoration:none;padding:0 .4em;cursor:pointer}.flatpickr-prev-month{float:left}.flatpickr-next-month{float:right}.flatpickr-current-month{padding:0 .5em;font-weight:300}.flatpickr-current-month span{font-weight:700}.flatpickr-prev-month:hover,.flatpickr-next-month:hover{color:#f64747}.flatpickr-calendar table{border-collapse:collapse;padding:0;width:100%}.flatpickr-calendar thead{font-size:90%}.flatpickr-calendar th,.flatpickr-calendar td{width:14.3%}.flatpickr-calendar th{text-align:center;padding:5px;font-weight:700;color:#999}.flatpickr-calendar .slot{cursor:pointer}.flatpickr-day{border:1px solid transparent;display:block;height:32px;line-height:32px;padding:0;text-align:center;width:32px;border-radius:150px;margin:1px}.flatpickr-calendar td:hover .flatpickr-day{background:#e6e6e6;border-color:#e6e6e6}.today .flatpickr-day{border-color:#f64747}td.today:hover .flatpickr-day{border-color:#f64747;background-color:#f64747;color:#fff}.selected .flatpickr-day{background-color:#446cb3;color:#fff;border-color:#446cb3}.flatpickr-calendar .disabled,.flatpickr-calendar .disabled .flatpickr-day,.flatpickr-calendar .disabled:hover .flatpickr-day{background:0 0;border-color:transparent;color:#ddd;cursor:default}
/* FLATPICKR CSS */

/* FLATPICKR CSS */
#css-script-menu{position:fixed;height:90px;width:100%;top:0;left:0;border-top:5px solid #16a1e7;background:#fff;-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.16);-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,.16);box-shadow:0 2px 3px 0 rgba(0,0,0,.16);z-index:999999;padding:10px 0;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.css-script-center{width:960px;margin:0 auto}.css-script-center ul{width:212px;float:left;line-height:45px;margin:0;padding:0;list-style:none}.css-script-center a{text-decoration:none}.css-script-ads{width:728px;height:90px;float:right}.css-script-clear{clear:both;height:0}
/* FLATPICKR CSS */


/*
    Expert Search Page CSS start
*/

@media screen and (max-width: 990px) {

div.country-box {

    border-radius: 25px 25px 0 0px;
}

div.service-box {
    border-radius: 0;
}

select#country {
    width: 100%;
}
}